*{
	margin:0px;padding:0px;
	font-family: 'Ubuntu Condensed', sans-serif;
}
body {
    background-color: #b8d331;
    overflow: hidden;
}

a:link	{
	text-decoration: none;
	color: #267f4c; }
a:visited	{
	text-decoration: none;
	color: #267f4c; }
a:active	{
	text-decoration: none;
	color: #267f4c; }
a:hover	{
	text-decoration: none;
	color: #267f4c; }
h1{
	font-size: 48px;
}
.clear{
	width: 100%;
	overflow: hidden;
}
.quote-div{
   	background-attachment: fixed;
	background-color: #b8d331;
	background-position: center center;
	height: auto;
	width: auto;
	max-height: none;
	max-width: 500px;
	min-height: 166px;
	margin: 0 auto;
	padding-bottom: 30px;
	padding-top: 100px;
	bottom: auto;
	left: auto;
	right: auto;
	top: auto;
	clear: both;
	float: none;
	overflow: visible;
	position: relative;
	visibility: visible;
}
.quote-text{
   	color: #267f4c;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}
.centralpicture{
   	background-attachment: inherit;
	background-repeat: no-repeat;
	background-image: url(../images/nav-bg.png);
	background-position: center center;
	min-height: 150px;
	min-width: 300px;
	text-align: center;
}
.nav-arrow{
	border-width: 0px;
}
.dig-say{
   	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #b8d331;
	background-position: center center;
	height: auto;
	width: auto;
	padding-bottom: 30px;
	padding-top: 30px;
	float: none;
}
.dig-say-text{
   	color: #267f4c;
	text-align: center;
	vertical-align: middle;
}
.social{
   	background-attachment: inherit;
	background-repeat: no-repeat;
	background-color: #b8d331;
	background-position: center center;
	display: block;
	overflow: visible;
	position: relative; 
    float: left; 
    left: 50%;
}
.soc1{
   	background-attachment: scroll;
	background-repeat: no-repeat;
	background-image: url(../images/vk-btn.png);
	background-position: center center;
	height: 60px;
	width: 60px;
	margin-left: 4px;
	margin-right: 4px;
	float: left;
}
.soc2{
   	background-attachment: scroll;
	background-repeat: no-repeat;
	background-image: url(../images/fb-btn.png);
	background-position: center center;
	height: 60px;
	width: 60px;
	margin-left: 4px;
	margin-right: 4px;
	bottom: auto;
	left: auto;
	right: auto;
	top: auto;
	float: left;
	position: relative;
}
.soc3{
   	background-attachment: scroll;
	background-repeat: no-repeat;
	background-image: url(../images/tw-btn.png);
	height: 60px;
	width: 60px;
	margin-left: 4px;
	margin-right: 4px;
	float: left;
}
.soc4{
	background-repeat: no-repeat;
   	background-image: url(../images/gp-btn.png);
	height: 60px;
	width: 60px;
	margin-left: 4px;
	margin-right: 4px;
	float: left;
}
.soc5{
	background-repeat: no-repeat;
   	background-image: url(../images/ok-btn.png);
	height: 60px;
	width: 60px;
	margin-left: 4px;
	margin-right: 4px;
	float: left;
}
.soc6{
	background-repeat: no-repeat;
   	background-image: url(../images/rss-btn.png);
	height: 60px;
	width: 60px;
	margin-left: 4px;
	margin-right: 4px;
	float: left;
}
.div-center{
	position: relative; 
    float: right; 
    right: 50%; 
}
.addquotediv{
   	background-color: #b8d331;
	height: auto;
	width: auto;
	padding-bottom: 30px;
	padding-top: 30px;
	position: relative; 
    float: left; 
    left: 50%; 
 

}
.add-left-right{
   	background-color: #b8d331;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
.addquotetext{
   	background-color: transparent;
	color: #267f4c;
	vertical-align: middle;
	line-height: 80px;
}
.ui-input-text ,
.ui-input-search {
	margin: 1.5em 0;
}
